<h1>Orders</h1>

<table class='table table-bordered'>
  <thead>
    <th>Customer</th>
    <th>SalesRep</th>
    <th>Sum Total</th>
    <th>Products</th>
    <th>View</th>
  </thead>

  <tbody>
    <%= render 'order', collection: @orders, cached: true %>
  </tbody>
</table>
